
{% extends "data/base.html" %}
{% block content %}
<div class='container-fluid' style='height:100%'><br><br>
    <h1 class='col-sm-12'>ABOUT THE O-SHOP</h1>
    <div class='col-sm-9'>
        The <a href='/'>O-SHOP</a> is an online store for books for immediate and easy access.<br>
        The O-SHOP makes the priority in SET, which describes the following values:
        <br>
        <br>
        <ul>
            <li style='font-weight:bold'>Security</li><br>
            By security, which is the initial letter of SET, the O-SHOP means that they put the security as the initial focus of defense.<br>
            The O-SHOP has done the great part to cover the potential holes, ensuring that our users are securely accessing our resources.<br>
            All the accounts in this site are secure, and all resources are free of malicious possibilities.
            <br>
            <li style='font-weight:bold'>Efficiency</li><br>
            The resources grabbed from this site are declared to be more than efficient.<br>
            Downloading every resource from this site for instance takes a matter of just few seconds, no matter how large the resource might be.

            <br>
            <li style='font-weight:bold'>Time</li>
            <br>
            Access to resources from this site are totally improved aiming to limit the time a resource can be accessed.<br>
            If you find our pages and or resources taking longer than expected, then inspect your network.
        </ul>

        <br><br>
        The <a href='/'>O-SHOP</a> can be found in Chilomoni, Blantyre, or We may be reached directly from the <a href='/contact'>Web Email</a>.
        <br><br>
        <b style='color:red'>Follow us on </b>
    </div>

    <div data-role='footer' id='fot'>

        <a href='https://plus.google.com/104873337336339564228'>
            <img src='http://systems.pythonanywhere.com/static/google.jpg' style='width:30px;height:30px;border-radius:360px;margin-right:20px;'/>
        </a>
        <a href='https://twitter.com/aminmartola'>
            <img src='http://systems.pythonanywhere.com/static/t.jpg' style='width:30px;height:30px;border-radius:360px;margin-right:20px;'/>
        </a>
        <a href='https://facebook.com/codewihme.jar'>
            <img src='http://systems.pythonanywhere.com/static/fb.jpg' style='width:30px;height:30px;border-radius:360px;margin-right:20px;'/>
        </a>
        <a href='https://linkedin.com/in/amin-martola-34b074121'>
            <img src='http://systems.pythonanywhere.com/static/lin.jpg' style='width:30px;height:30px;border-radius:360px;'/>
        </a>
    </div>
</div>
</div>
</div>

{% endblock %}
