{% extends 'data/base.html' %}
{% block content %}
<div id='main' class='text-dark conditions' style='padding-left:10%;padding-top:80px;border-top:0px solid black;font-family:display; height: inherit !important;'>
    <div class='row' style='padding:10px;'>
    <h1 class='col-sm-12 text-white bg-info' style='text-align:center;margin-bottom:50px;'>Terms and Conditions</h1>
    <div class="col-12 text-left" style="padding:0 !important"><b style='font-weight:bold'>SCOPE:</b><br></div>
    <div>
        The terms and conditions within this page refers to all concerned parties who are the physical or logical users of this site, either authentic or anonymous.
        <br>
        <b>They may include :</b>
        <br>
        <div>
            <ul>
                <li>Individuals</li>
                <li>Schools or Universities</li>
                <li>Organizations</li>
                <li>Government</li>
            </ul>
        </div>
    </div>

    <div>
        The policy, terms and conditions, making up the acceptable use of this site are:<br>
        <br>
        <ol>
            <li style='font-weight:bold'>
                <b>Accessibility Policy</b>
            </li>
            <p>
                The contents stored or intended to be stored on this site tend to favour the authentic users.<br>
                If you are unauthenticated, the accessibility of resources within this site is restricted to you.<br>
                We recommend that to make a better use of this site and or its resources.
    
                <ul>
                    <li><i>Unauthorized Access</i></li>
                    Any attempt to penetrate, or gain un authorized access within this site is totally forbidden.<br>
                    If you are the authentic user of the account, and our system restricts you, contact the <a href='/contact'>administration</a>.
                    <li><i>Passwords and Usernames</i></li>
                    We make it to our ability to secure passwords and usernames.
                    Help us not to offend your privacy by providing strong and memorable paasword.
                    <br>
                    If your password is lost or forgotten, contact the <a href='/contact'>administration</a>.
                </ul>
            </p>
    
            <li style='font-weight:bold'><b>Resource Usage Policy</b></li>
            <p>
                All the resources within this site are free of charge at there basis,<br>
                However, the extensive usage will result in the payment of a little keepup fee for our site to keep moving.<br>
                The resources are either added by our admins, or can be registered for sale.<br>
                Resources that are registered by external entities however, are labeled for sale with price attached.

            </p>
            <li style='font-weight:bold'><b>Software Usage Policy</b></li>
            <p>
                The softwares and applications, are developed by the <b style='color:blue'>O-SHOP</b> Team.<br>
                The misuse of the resources within this site will result in physical or logical penal exposure.<br>
                <br>
                The misuse may include:
                <br>
                <ul>
                    <li><i>MALWARES AND SPYWARES</i></li>
                    <br>The injection of malicious softwares within this site is strictly forbidden.<br>
                    This includes but not limited to:<br
                    <i>The viruses, Trojans, Root Kits, Worms.</i>
                    The use of unauthorized malicious scripts is also forbidden, including CSRF, injection attempts, man-in-the-middle etc.
                    <br>
                    <li><i>NETWORK USAGE</i></li>
                    <br>
                    The attempt to do any network interception behaviours is strictly forbidden.<br>
                    The act of <i>Port Scanning, Brute Forcing</i> etc is not tolerated.
                    <li><i>WEB SCRAPING, CRAWLING</i></li>
                    <p>
                        We do not forbid the external use of the resources and contents of this site;
                        however, this comes with the conditions attached:<br>
                        <ul>
                            <li>Ensure that your crawler behaves as agreed by standard crawlers.</li>
                            <li>Ensure that the contents from this site are not intended for commercial use.</li>
                            <li>Ensure that the contents from this site are not intended for malicious purposes, eg attacks to a specific account of this site.</li>
                        </ul>
                    </p>
                </ul>
            </p>
            
            <li style='font-weight:bold'>BUGS AND REPORTS</li>
            <p>This site totally intertains the reports about parts of this site that are malfunctioning.<br>
                If you recognize a bug in our system, please contact the administration as immediate as possible.<br>
                Any bug report within this site will be totally acknowledged.<br>
                All the bugs may be reported directly to the <a href='/contact'>administration</a>
            </p>

        </ol>
        We make prior belief that all concerned parties using our system will perform the desired behaviours as stated in this policy.
        <br>
        <p>
            <a href='/' style='color:orange'>The O-SHOP Team</a>
        </p>
    </div>
<div>
</div>
</div>
</div>

{% endblock %}
